*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    background-color: grey;
}   

nav{
display: flex;
width: 85%;
margin: auto;
padding: 20px 0;
align-items: center;
justify-content: space-between;
}

a{
    color: white;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a:hover{
    color: red;
}

.projects {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.card img{
    width: 30%;
    padding: 10px 0px;
}

.card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
main{
    display: flex;
}

.AboutMe {
    flex: 30%;
    background-color: pink;
    padding: 20px;
    flex-wrap: wrap;
}

.AboutMe img {
    width: auto%;
    padding: 20px;
}

.Work {
    flex: wrap;
    flex: 70%;
    background-color: #fff;
    padding: 20px;
}


.HireME {
    display: block;
    justify-content: center;
    padding: 20px;
    line-height: 100px;
}

footer ul li{
    display: block;
    list-style: none;
    font-size: 300%;
}

footer ul li a:hover{
    color: red;
}